<template>
  <v-container>
    <v-row justify="center">
      <v-col md="6" lg="6" xl="4">
        <v-snackbar
          v-model="snackbar"
          :top="true"
          color="cyan"
          :multi-line="true"
          >%{{ checkRatesSum }}: Harcamalarınızı %100'e
          tamamlayınız!</v-snackbar
        >
        <v-icon
          size="16"
          transition="scale-transition"
          @click="setAlert"
          v-if="!alert"
          color="cyan"
          >info</v-icon
        >
        <v-alert
          v-if="!isLoading"
          :value="alert"
          border="top"
          colored-border
          type="info"
          elevation="2"
          transition="scale-transition"
          color="cyan"
        >
          Kişisel enflasyonunuzu hesaplayabilmek için lütfen yaşadığınız
          <strong>bölgeyi seçin</strong> ve harcama gruplarının yanında bulunan
          hareketli çubuk aracılığı ile
          <strong
            >aylık harcamanızın ne kadarını hangi harcama grubunda yaptığınızı
            ayarlayın</strong
          >. Harcama grubu dağılımınızın toplamı
          <strong>%100</strong>
          olduğunda kişisel enflasyonunuz hesaplanacaktır.
          <span v-if="alertCount > 0">{{ alertCount }}</span>
        </v-alert>
        <v-autocomplete
          class="labelfor"
          :light="false"
          hide-no-data
          label="Yaşadığınız Bölge"
          :items="iller"
          v-model="locations"
        ></v-autocomplete>
        <!-- <v-btn @click="hesapla">Hesapla</v-btn> -->
        <app-content-loader
          :height="160"
          :speed="1"
          primaryColor="#f3f3f3"
          secondaryColor="#d6d3d3"
          v-if="isLoading"
        >
          <circle cx="10" cy="20" r="8" />
          <rect x="25" y="15" rx="5" ry="5" width="220" height="10" />
          <circle cx="10" cy="50" r="8" />
          <rect x="25" y="45" rx="5" ry="5" width="220" height="10" />
          <circle cx="10" cy="80" r="8" />
          <rect x="25" y="75" rx="5" ry="5" width="220" height="10" />
          <circle cx="11" cy="106" r="8" />
          <rect x="26" y="101" rx="5" ry="5" width="220" height="10" />
          <rect x="260" y="15" rx="5" ry="5" width="114" height="5" />
          <rect x="262" y="47" rx="5" ry="5" width="114" height="5" />
          <rect x="263" y="75" rx="5" ry="5" width="114" height="5" />
          <rect x="263" y="101" rx="5" ry="5" width="114" height="5" />
          <rect x="26" y="128" rx="5" ry="5" width="220" height="10" />
          <circle cx="11" cy="132" r="8" />
          <rect x="266" y="129" rx="5" ry="5" width="114" height="5" />
          <circle cx="289.58" cy="14.67" r="1" />
          <circle cx="287.72" cy="16.81" r="8.14" />
          <circle cx="308.72" cy="48.81" r="8.14" />
          <circle cx="277.72" cy="75.81" r="8.14" />
          <circle cx="345.72" cy="102.81" r="8.14" />
          <circle cx="290.72" cy="129.81" r="8.14" />
        </app-content-loader>
        <table v-else class="inf-table">
          <thead>
            <tr>
              <th>
                Harcama
                <br />Grupları
              </th>
              <th style="text-align: center">
                TÜİK
                <br />Dağılımı
              </th>
              <th>
                Senin
                <br />Dağılımın
              </th>
            </tr>
          </thead>
          <tbody>
            <tr :key="i" v-for="(item, i) in spendingGroups">
              <td>{{ item.HarcamaGrupları }}</td>
              <td style="text-align: right; padding-right: 10px">
                %{{ item.SepetAğırlıkları }}
              </td>
              <!-- <td>
                <input class="yourRate" v-model="item.yourRate" />
              </td>-->
              <td style="width: 150px; padding: 0">
                <v-slider
                  loader-height="10"
                  :hide-details="true"
                  step="0.1"
                  :max="60"
                  v-model="item.yourRate"
                  @input="setSliderValidate(item, i)"
                  :thumb-label="true"
                  thumb-size="30"
                  color="#696464"
                  track-color="#d7dcdf"
                ></v-slider>
              </td>
              <td>
                <span class="range-slider__value">%{{ item.yourRate }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div id="loadingbar" :class="{ shake: snackbar }" class="loading">
          <div class="bar" :style="{ width: checkRatesSum + '%' }">
            <div
              v-if="checkRatesSum == 100"
              style="color: white; text-align: left; padding-right: 0.5em"
            >
              %{{ checkRatesSum }}: Kişisel enflasyonunuz hesaplandı!
            </div>
            <p v-else style="position: absolute; font-size: 15px">
              %{{ checkRatesSum }}: Harcamalarınızı %100'e tamamlayınız!
            </p>
          </div>
        </div>
      </v-col>
      <v-col class="chart-container" md="6" lg="6" xl="6">
        <v-alert
          class="pa-6"
          v-if="!isLoading"
          color="cyan"
          border="left"
          elevation="2"
          colored-border
        >
          <v-row justify="space-around" class="align-content-space-around">
            <template v-for="(i, index) in infilations">
              <div :key="index">
                <h3 :style="`text-align:center;color:${i.color}`">
                  <v-icon class="mr-2" :color="i.color" size="15">{{
                    i.icon
                  }}</v-icon>
                  {{ i.location }}
                </h3>
                <v-row justify="center">
                  <v-col align="center" justify="end" class="pa-0 ma-0">
                    <template v-for="(t, index2) in i.infilation">
                      <div :key="index2" class="body-2">
                        <span style="font-weight: bold">{{ t.type }}:</span>
                        {{ t.value }}
                      </div>
                    </template>
                  </v-col>
                </v-row>
              </div>
              <v-divider
                v-if="$vuetify.breakpoint.smAndDown"
                v-show="index < 1"
                class="mx-4"
                vertical
              ></v-divider>
              <v-divider
                v-else
                v-show="index < 2"
                class="mx-4"
                vertical
              ></v-divider>
            </template>
          </v-row>
        </v-alert>
        <div>
          <app-line-chart
            v-show="!isChartLoading"
            ref="linechart"
            :chartData="dataCollection"
          ></app-line-chart>
        </div>
        <app-loading-bar v-show="isLoading"></app-loading-bar>
        <div v-show="!isLoading" class="share-container">
          <h3 class="mr-2 align-self">Sonucu paylaş</h3>
          <span
            @click="showAlert"
            v-if="checkRatesSum < 100"
            class="twitter-share-button align-self"
          >
            <i class="fa-twitter"></i> Twitter
          </span>
          <social-sharing
            v-else
            class="align-self"
            url="''"
            :title="socialDescription"
            hashtags="SeninEnflasyonunKac,TÜFE,Enflasyon"
            inline-template
          >
            <network class="twitter-share-button" network="twitter">
              <i class="fa-twitter"></i> Twitter
            </network>
          </social-sharing>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
var moment = require("moment");
import { Line, mixins } from "vue-chartjs";
import { ContentLoader } from "vue-content-loader";
moment.locale("tr");
import LoadingBar from "./Loading";
import LineChart from "../../LineChart";
import EventBus from "../../EventBus";
import Vue from "vue";
export default {
  data: () => ({
    snackbar: false,
    alert: true,
    isChartLoading: true,
    alertCount: 10,
    dataCollection: {
      labels: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz"],
      datasets: [
        {
          label: "Türkiye",
          fill: false,
          lineTension: 0.1,
          borderColor: "#FF5964",
          pointHoverRadius: 5,
          backgroundColor: "#FF5964",
          pointHoverBackgroundColor: "#FF5964",
          pointBackgroundColor: "#fff",
          pointRadius: 5,
          pointHitRadius: 5,
          data: [15, 25, 30, 40, 50],
        },
        {
          label: "Bölge",
          fill: false,
          lineTension: 0.1,
          backgroundColor: "#193C59",
          borderColor: "#193C59",
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "#193C59",
          pointBackgroundColor: "#fff",
          pointRadius: 5,
          pointHitRadius: 5,
          data: [5, 10, 15, 20, 18],
        },
        {
          label: "Senin Enflasyonun",
          fill: false,
          lineTension: 0.1,
          borderColor: "#02C39A",
          backgroundColor: "#02C39A",
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "#02C39A",
          pointBackgroundColor: "#fff",
          pointRadius: 5,
          pointHitRadius: 5,
          data: [23, 15, 34, 35, 15, 39, 41, 19, 21, 26, 30, 35, 38],
        },
      ],
    },
    personalDataset: [],
    infilations: [
      {
        icon: "language",
        color: "#FF5964",
        location: "Türkiye",
        infilation: [
          { type: "Aylık", value: 0 },
          { type: "Yıllık", value: 0 },
        ],
      },
      {
        icon: "my_location",
        color: "#193C59",
        location: "Bölge",
        infilation: [
          { type: "Aylık", value: 0 },
          { type: "Yıllık", value: 0 },
        ],
      },
      {
        icon: "location_city",
        color: "#02C39A",
        location: "Senin Enflasyonun",
        infilation: [
          { type: "Aylık", value: 0 },
          { type: "Yıllık", value: 0 },
        ],
      },
    ],
    isLoading: true,
    tableValues: [],
    iller: [],
    locations: "",
    dataValues: [],
    infilationValues: [],
    spendingGroups: [],
    year: "",
  }),
  components: {
    appContentLoader: ContentLoader,
    appLoadingBar: LoadingBar,
    appLineChart: LineChart,
  },
  watch: {
    checkRatesSum(newVal, oldVal) {
      let pot = document.getElementById("pot");
      if (pot) {
        pot.remove();
      }
      if (+newVal > +oldVal && +newVal >= 100) {
        this.getChartInfilations();
        this.getTableInfilations();
      } else {
        let yourInfilation = this.dataCollection.datasets[2].data;
        this.infilations[2].infilation[0].value = "-";
        this.infilations[2].infilation[1].value = "-";
        if (yourInfilation.length > 0) {
          this.dataCollection.datasets[2].data.length = 0;
          this.updateChart();
        }
      }
    },
    locations(val) {
      this.personalDataset = [];
      let infilations = this.getJsonArrayFromData(this.dataValues);
      if (val) {
        const filteredLocation = infilations.filter(
          (item) => item.harcamagrubu == "Genel" && item.bolge == val
        );
        if (filteredLocation) {
          const changes = this.getSingleChartInfiliations(filteredLocation[0]);
          let mounts = Object.keys(changes);
          let beforeYear = +this.year - 1;
          mounts[0] = mounts[0].replace("-", " ") + beforeYear;
          mounts[12] = mounts[12] + " " + this.year;
          Vue.set(this.dataCollection, "labels", mounts);
          Vue.set(
            this.dataCollection.datasets[1],
            "data",
            Object.values(changes)
          );
          Vue.set(this.dataCollection.datasets[1], "label", val);
          let mountlyChanges = this.getInfilationRates(filteredLocation[0]);
          this.infilations[1].infilation[0].value =
            "%" + mountlyChanges.monthlyChange;
          this.infilations[1].infilation[1].value =
            "%" + mountlyChanges.yearlyChange;
          this.getChartInfilations();
          this.getTableInfilations();
          if (!this.isLoading) {
            if (this.alert) {
              this.alert = false;
            }
          }
          // this.dataCollection.datasets[1].data = Object.values(changes);
          // this.dataCollection.datasets[1].label = val;
          // const spendingGroupArray = this.spendingGroups.map(
          //   item => item.HarcamaGrupları
          // );
          // this.infilationValues
          //   .filter(
          //     item =>
          //       spendingGroupArray.includes(item.harcamagrubu) &&
          //       item.bolge == val
          //   )
          //   .map((item, i) => {
          //     Object.assign(
          //       // Spending Groups reaktif dataya object assign ediyor ve tablo değerlerini güncelliyor.
          //       this.spendingGroups[i],
          //       this.getInfilationRates(item)
          //     );
          //     return this.spendingGroups;
          //   });
        }
      }
    },
  },
  methods: {
    showAlert() {
      this.snackbar = true;
      let loadingbar = document.getElementById("loadingbar");
      var top = loadingbar.offsetTop - 15;
      window.scrollTo({
        left: 0,
        top,
        behavior: "smooth",
      });
    },
    setPot() {
      let firstSlider = document.getElementsByClassName(
        "v-slider__track-fill"
      )[0];
      firstSlider.innerHTML = `
        <div id="pot">
                  <img  width="30px" height="30px">
                </div>
        `;
    },
    setAlert() {
      if (!this.alert) {
        this.alert = true;
        this.alertCount = 10;
        this.countDownTimer();
        setTimeout(() => {
          if (!this.isLoading) {
            if (this.alert) {
              this.alert = false;
            }
          }
        }, 10000);
      }
    },
    countDownTimer() {
      if (this.alertCount > 0) {
        setTimeout(() => {
          this.alertCount -= 1;
          this.countDownTimer();
        }, 1000);
      }
    },

    updateChart() {
      this.$refs.linechart.update();
    },
    setSliderValidate(obj, i) {
      if (this.checkRatesSum > 100) {
        this.spendingGroups[i].yourRate = (
          +obj.yourRate -
          (+this.checkRatesSum - 100)
        ).toFixed(2);
        return false;
      }
      return false;
    },
    getTableInfilations() {
      const spendingGroupArray = this.spendingGroups.map(
        (item) => item.HarcamaGrupları
      );
      this.infilationValues
        .filter(
          (item) =>
            spendingGroupArray.includes(item.harcamagrubu) &&
            item.bolge == this.locations
        )
        .map((item, i) => {
          Object.assign(
            // Spending Groups reaktif dataya object assign ediyor ve tablo değerlerini güncelliyor.
            this.spendingGroups[i],
            this.getInfilationRates(item)
          );
          return this.spendingGroups;
        });
      if (this.locations) {
        this.spendingGroups.map((item) => {
          item["yourMountlyChange"] =
            (item.yourRate * (1 + parseFloat(item.monthlyChange) / 100)) / 100;
          item["yourYearlyChange"] =
            (item.yourRate * (1 + parseFloat(item.yearlyChange) / 100)) / 100;
        });
        const yourMountlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourMountlyChange),
          0
        );
        const yourYearlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourYearlyChange),
          0
        );
        const yourChanges = {
          mountly: ((yourMountlyChange - 1) * 100).toFixed(2),
          yearly: ((yourYearlyChange - 1) * 100).toFixed(2),
        };
        this.infilations[2].infilation[0].value = "%" + yourChanges.mountly;
        this.infilations[2].infilation[1].value = "%" + yourChanges.yearly;
        return yourChanges;
      } else {
        return false;
      }
    },
    getInfilationRates(data) {
      if (data) {
        let infiliation = {};
        let infiliationRates = {};
        let objectLength = Object.keys(data).length;
        let latestYear = {};
        let lastYear = {};
        let lastYearMoment;
        let lastMonth = {};
        Object.keys(data).forEach((key, index) => {
          if (index === objectLength - 1) {
            latestYear["latestYear"] = parseFloat(data[key].replace(",", "."));
            lastYearMoment = moment(key).add(-1, "Y").format("L");
          } else if (index === objectLength - 2) {
            lastMonth["lastMonth"] = parseFloat(data[key].replace(",", "."));
          }
        });
        Object.keys(data).forEach((key) => {
          if (moment(key).format("L") === lastYearMoment) {
            lastYear["lastYear"] = parseFloat(data[key].replace(",", "."));
          }
        });
        infiliation = Object.assign({}, lastYear, lastMonth, latestYear);
        infiliationRates["monthlyChange"] = parseFloat(
          (infiliation.latestYear / infiliation.lastMonth - 1) * 100
        ).toFixed(2);
        infiliationRates["yearlyChange"] = parseFloat(
          (infiliation.latestYear / infiliation.lastYear - 1) * 100
        ).toFixed(2);
        return infiliationRates;
      }
    },
    reverseObject(object) {
      var newObject = {};
      var keys = [];

      for (var key in object) {
        keys.push(key);
      }

      for (var i = keys.length - 1; i >= 0; i--) {
        var value = object[keys[i]];
        newObject[keys[i]] = value;
      }

      return newObject;
    },
    getSingleChartInfiliations(data) {
      let latestYear = {};
      let lastYearMoment;
      let priceIndex2;
      let priceIndex;
      // delete data["bolge"];
      // delete data["harcamagrubu"];
      // delete data["id"];
      // delete data["harcama"];
      Object.keys(data).forEach((key, index) => {
        if (index >= 4) {
          if (index == 28) {
            this.year = moment(key, "DD/MM/YYYY").format("Y");
          }
          priceIndex = parseFloat(data[key].replace(",", "."));
          lastYearMoment = moment(key).add(-1, "Y").format("L");
          Object.keys(data).forEach((key1) => {
            if (moment(key1).format("L") == lastYearMoment) {
              let mount = moment(key1, "DD/MM/YYYY").format("MMMM");
              priceIndex2 = parseFloat(data[key1].replace(",", "."));
              if (index == 16) {
                debugger;
                latestYear[mount + "-"] = (
                  parseFloat(priceIndex / priceIndex2 - 1) * 100
                ).toFixed(2);
              } else {
                latestYear[mount] = (
                  parseFloat(priceIndex / priceIndex2 - 1) * 100
                ).toFixed(2);
              }
            }
          });
        }
      });
      return latestYear;
    },

    getChartInfilations() {
      this.personalDataset.length = 0;
      if (!this.isLoading) {
        const spendingGroupArray = this.spendingGroups.map(
          (item) => item.HarcamaGrupları
        );
        const locationsInfilation = this.infilationValues
          .filter(
            (item) =>
              spendingGroupArray.includes(item.harcamagrubu) &&
              item.bolge == this.locations
          )
          .map((data) => {
            let latestYear = {};
            let lastYearMoment;
            let priceIndex2;
            let priceIndex;
            let year;
            // delete data["bolge"];
            // delete data["harcamagrubu"];
            // delete data["id"];
            // delete data["harcama"];
            Object.keys(data).forEach((key, index) => {
              if (index >= 4) {
                priceIndex = parseFloat(data[key].replace(",", "."));
                lastYearMoment = moment(key).add(-1, "Y").format("L");
                year = moment(key, "DD/MM/YYYY")
                  .add(+2, "Y")
                  .format("Y");
                Object.keys(data).forEach((key1) => {
                  if (moment(key1).format("L") === lastYearMoment) {
                    let mount = moment(key1, "DD/MM/YYYY").format("MMMM");

                    priceIndex2 = parseFloat(data[key1].replace(",", "."));
                    if (index == 16) {
                      latestYear[mount + year] = parseFloat(
                        priceIndex / priceIndex2 - 1
                      );
                    } else {
                      latestYear[mount] = parseFloat(
                        priceIndex / priceIndex2 - 1
                      );
                    }
                  }
                });
              }
            });
            this.personalDataset.push(latestYear);
          });
        let objectKeys = Object.keys(this.personalDataset[0]);
        let objectPropertys = {};
        objectKeys.forEach((ay) => {
          let lastArray = this.personalDataset.reduce((a, item, index) => {
            return (
              a + (this.spendingGroups[index].yourRate / 100) * (1 + +item[ay])
            );
          }, 0);
          objectPropertys[ay] = parseFloat(((lastArray - 1) * 100).toFixed(2));
        });
        this.dataCollection.datasets[2].data = Object.values(objectPropertys);
        this.updateChart();
        console.log(objectPropertys);
        // console.log(JSON.stringify(objectPropertys));
      }
    },
    getJsonArrayFromData(data) {
      var obj = {};
      var result = [];
      var headers = data[0];
      var cols = headers.length;
      var row = [];
      for (var i = 1, l = data.length; i < l; i++) {
        // get a row to fill the object
        row = data[i];
        // clear object
        obj = {};
        for (var col = 0; col < cols; col++) {
          // fill object with new values
          if (!row[col]) {
            row[col] = "";
          } else {
            obj[headers[col]] = row[col];
          }
        }
        // add object in a final result
        result.push(obj);
      }
      return result;
    },
    getInfilationValues() {
      return fetch(
        `${process.env.VUE_APP_GOOGLESHEET_BASE_URL}/values/A:ZZ?majorDimension=ROWS&key=${process.env.VUE_APP_GOOGLESHEET_API_KEY}`
      )
        .then((data) => {
          return data.json();
        })
        .then((data) => {
          this.dataValues = data.values;
          this.infilationValues = this.getJsonArrayFromData(data.values);
          this.iller = [
            ...new Set(
              this.infilationValues
                .map((item) => item.bolge)
                .filter((item) => item != "Türkiye")
            ),
          ];
          let changes = this.getSingleChartInfiliations(
            this.infilationValues[0]
          );
          let mountlyChanges = this.getInfilationRates(
            this.infilationValues[0]
          );
          this.dataCollection.datasets[0].data = Object.values(changes);
          // console.log(JSON.stringify(changes));
          this.infilations[0].infilation[0].value =
            "%" + mountlyChanges.monthlyChange;
          this.infilations[0].infilation[1].value =
            "%" + mountlyChanges.yearlyChange;
        });
    },
    getSpendingGroups() {
      return fetch(
        `${process.env.VUE_APP_GOOGLESHEET_BASE_URL}/values/'Distincts'!A1:C17?majorDimension=ROWS&key=${process.env.VUE_APP_GOOGLESHEET_API_KEY}`
      )
        .then((data) => {
          return data.json();
        })
        .then((data) => {
          let spendingGroups = this.getJsonArrayFromData(data.values);
          spendingGroups.forEach((item) => {
            item.SepetAğırlıkları = parseFloat(item.SepetAğırlıkları);
            item.yourRate = parseFloat(item.SeninAğırlığın);
          });
          this.spendingGroups = spendingGroups;
        });
    },
  },
  mounted() {
    this.countDownTimer();
    this.getInfilationValues().then(() => {
      this.getSpendingGroups().then(() => {
        this.locations = "İstanbul";
        setTimeout(() => {
          this.isLoading = false;
        }, 500);
        this.isChartLoading = false;
        setTimeout(() => {
          this.setPot();
          this.infilations[2].infilation[0].value = "-";
          this.infilations[2].infilation[1].value = "-";
        }, 1000);
        setTimeout(() => {
          if (!this.isLoading) {
            if (this.alert) {
              this.alert = false;
            }
          }
        }, 10000);
        setTimeout(() => {
          this.updateChart();
        }, 300);
      });
    });
  },

  computed: {
    alertText() {
      setInterval(() => {
        this.alertCount -= -1;
      }, 1000);
      return this.alertCount;
    },
    socialDescription() {
      let value = this.dataCollection.datasets[2].data.slice(-1)[0];
      return `Benim enflasyonum %${value} çıktı! Sen de SeninEnflasyonunKac.com'da hesapla!`;
    },
    checkRatesSum() {
      const sum = this.spendingGroups.reduce(
        (total, item) => total + item.yourRate,
        0
      );
      if (sum >= 100) {
      }
      return parseFloat(sum).toFixed(2);
    },
    yourInfilationChart() {
      if (this.locations) {
        this.spendingGroups.map((item) => {
          item["yourMountlyChange"] =
            (item.yourRate * (1 + parseFloat(item.monthlyChange) / 100)) / 100;
          item["yourYearlyChange"] =
            (item.yourRate * (1 + parseFloat(item.yearlyChange) / 100)) / 100;
        });
        const yourMountlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourMountlyChange),
          0
        );
        const yourYearlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourYearlyChange),
          0
        );
        const yourChanges = {
          mountly: ((yourMountlyChange - 1) * 100).toFixed(2),
          yearly: ((yourYearlyChange - 1) * 100).toFixed(2),
        };
        return yourChanges;
      } else {
        return false;
      }
    },
    yourInfilation() {
      if (this.locations) {
        this.spendingGroups.map((item) => {
          item["yourMountlyChange"] =
            (item.yourRate * (1 + parseFloat(item.monthlyChange) / 100)) / 100;
          item["yourYearlyChange"] =
            (item.yourRate * (1 + parseFloat(item.yearlyChange) / 100)) / 100;
        });
        const yourMountlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourMountlyChange),
          0
        );
        const yourYearlyChange = this.spendingGroups.reduce(
          (total, item) => total + parseFloat(item.yourYearlyChange),
          0
        );
        const yourChanges = {
          mountly: ((yourMountlyChange - 1) * 100).toFixed(2),
          yearly: ((yourYearlyChange - 1) * 100).toFixed(2),
        };
        console.log(yourChanges);
        return yourChanges;
      } else {
        return false;
      }
    },
  },
};
</script>
<style lang="scss" >
.inf-table {
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}
.inf-table thead th {
  font-weight: bold;
  border: none;
  color: #336b6b;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  // text-shadow: 1px 1px 1px #fff;
}
.inf-table tbody td {
  border: none;
  color: #333;
  padding: 3px;
  font-weight: bold;
  // text-shadow: 1px 1px 1px #fff;
}
.yourRate {
  width: 40%;
}
.v-slider--horizontal {
  min-height: 3px !important;
}
.v-card__text {
  padding: 10px !important;
}
.loading {
  margin-top: 1em;
  border: 1px solid grey;
  padding: 1px;
  border-radius: 5px;
}
.loadingbar {
  position: relative;
}
.bar {
  height: 25px;
  background: #1abc9c;
  box-shadow: inset 0px -1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  transition: width 0.5s;
  padding-left: 3px;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 63px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 3px 3px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 6px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #2c3e50;
    border-bottom: 7px solid transparent;
    content: "";
  }
}
.twitter-share-button {
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  padding: 1px 8px 1px 6px;
  background-color: #55acee;
  color: #fff;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}
.fa-twitter {
  position: relative;
  top: 4px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent 0 0 no-repeat;
  fill: white !important;
  background-image: url("../assets/logo/twitter.svg");
}
.share-container {
  display: flex;
  flex-grow: 1;
}
// .v-slider__thumb {
//   width: 20px !important;
//   height: 20px !important;
// }
.theme--light.v-label {
  color: rgba(0, 0, 0, 0.66) !important;
}
#pot {
  top: 1px;
  position: absolute;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
  img {
    content: url("../assets/pointer.svg");
    animation: linear infinite alternate;
  }
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
.v-slider__track-fill {
  position: relative !important;
}
.chart-container {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.v-label {
  font-weight: 900;
  color: #336b6b !important;
}
.align-self {
  align-self: flex-end;
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
