<template>
  <div>
    <line-chart :chartData="dataCollection" ></line-chart>
  </div>
</template>

<script>
import LineChart from "../../LineChart.js";
import EventBus from "../../EventBus.js";
export default {
  name: "App",
  components: {
    LineChart
  },
  data() {
    return {
      chartOptions: {
        hoverBorderWidth: 20,
        maintainAspectRatio: false
      },
      dataCollection: {}
    };
  },
  mounted() {
    EventBus.$on("updateChart", data => {
      this.dataCollection = data;
    });
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
