<template>
  <div class="container">
    <svg class="loader" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 350 350">
      <circle cx="170" cy="170" r="160" stroke="#FF5964" />
      <circle cx="170" cy="170" r="125" stroke="#193C59" />
      <circle cx="170" cy="170" r="85" stroke="#02C39A" />
      <circle cx="170" cy="170" r="50" stroke="#404041" />
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.container {
  padding: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.loader {
  max-width: 170px;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}
circle {
  fill: none;
  stroke-width: 5;
  animation-name: preloader;
  animation-iteration-count: infinite;
  transform-origin: 170px 170px;
  animation-direction: both;
  animation-timing-function: linear;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550;
  animation-duration: 1s;
}
circle:nth-of-type(2) {
  stroke-dasharray: 550px;
  animation-duration: 1.2s;
}
circle:nth-of-type(3) {
  stroke-dasharray: 370px;
  animation-duration: 1.4s;
}
circle:nth-of-type(4) {
  stroke-dasharray: 220px;
  animation-duration: 1.6s;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
span {
  position: absolute;
  top: 260px;
  font-family: "Arvo", serif;
  color: #a1a;
  font-size: 20px;
}
</style>