<template>
  <div>
    <line-chart :options="options" :chart-data="datacollection"></line-chart>
    <!-- <button @click="fillData()">Randomize</button> -->
  </div>
</template>

<script>
import LineChart from "../../LineChart";
import EventBus from "../../EventBus";
export default {
  components: {
    LineChart
  },
  data() {
    return {
      options: {
        responsive: true,
        maintainAspectRatio: false
      },
      datacollection: {}
    };
  },
  mounted() {
    var _this = this;
    EventBus.$on("randomData", function() {
      _this.fillData();
    });
    this.fillData();
  },
  methods: {
    fillData() {
      this.datacollection = {
        options: {
          maintainAspectRatio: false
        },
        labels: [this.getRandomInt(), this.getRandomInt()],
        datasets: [
          {
            label: "Aylık",
            backgroundColor: "#fa5477",
            data: [this.getRandomInt(), this.getRandomInt()]
          },
          {
            label: "Yıllık",
            backgroundColor: "#7ecfc0",
            data: [this.getRandomInt(), this.getRandomInt()]
          }
        ],
        responsive: true
      };
    },
    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    }
  }
};
</script>

<style>
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>