<template>
  <v-app>
    <v-app-bar height="auto" class="mb-3" app>
      <div class="pa-2">
        <v-toolbar-title class="headline text-uppercase">
          <span>SENİN ENFLASYONUN KAÇ?</span>
        </v-toolbar-title>
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-content style="margin-top:65px">
      <InflationTable />
    </v-content>
    <v-snackbar v-if="!getRead" :timeout="0" v-model="snackbar">
      Bu siteyi kullanarak&nbsp;
      <a
        @click="dialog = true"
      >Sorumluluk Reddi Beyanını, Site Kullanım Şartlarını ve Gizlilik Politikamızı&nbsp;</a> kabul etmiş olursunuz. Sitede sunulan bilgilerin doğruluğu tarafımızca sorumluluk kabul etmemektedir.
      <span
        style="cursor:pointer"
        @click="setLocalStore"
      >&nbsp;X</span>
    </v-snackbar>
    <footer>
      <v-dialog style="z-index:100" v-model="dialog" width="500">
        <v-card>
          <v-card-title class="headline grey lighten-2" primary-title>Beyan, Şartlar ve Politikalar</v-card-title>
          <div class="pa-4">
            <h3>Site Kullanım Şartları</h3>Lütfen sitemizi kullanmadan evvel bu ‘site kullanım şartları’nı dikkatlice okuyunuz. Siteye erişmekle veya siteyi kullanmakla, aşağıda belirtilen şartlar ve hükümlerle bağlı olmayı kabul etmektesiniz. seninenflasyonunkac.com, bu SİTE'de yer alan veya alacak olan bilgileri, formları ve içeriği dilediği zaman değiştirme hakkını saklı tutmaktadır.
            <h3>Sorumluluk Reddi Beyanı</h3>seninenflasyonunkac.com bu web sitesini sadece bilgi vermek amacıyla yayımlamıştır. Bu web sitesi belirli somut münferit durum ve koşullara kesin cevaplar vermek gibi bir işlevi veya amacı yoktur ve dolayısıyla bu web sitesi sadece bir bilgi vermek amaçlı tavsiye bazında görülmeli ve böyle kullanılmalıdır. seninenflasyonunkac.com herhangi bir özel durumla karşılaştığınızda daima uzman avukat görüşü ve tavsiyesi almanızı tavsiye eder. seninenflasyonunkac.com bu web sitesine dayanarak hareket eden kişileri için bir sorumluluk kabul etmez. Bu internet sitesinin kullanımının herhangi bir sorunu beraberinde getirmeyeceğini veya bağlantınızın kesilmeyeceğini de aynı şekilde temin etmemektedir. Ayrıca, seninenflasyonunkac.com'da yer alan bilgileri dilediği zaman, önceden bildirmeksizin, düzeltme, genişletme veya herhangi diğer bir şekilde yeniden düzenleme hakkını saklı tutmaktadır. Bunların dışında - yani kasti fiil ve kaba ihmalkarlık haricinde - veya yardımcı temsilcilerin (yüklenici taraflar veya çalışanlar da dahil olmak üzere) sebebiyet verdikleri her türlü diğer hasarlardan kesinlikle sorumlu değildir. Bu internet sitesinin her türlü kullanımı, kullanıcının kendi riski ve sorumluluğu altındadır. İletilen tüm içerik gönderildiği kişi ya da kuruma özel olup, gizli imtiyazlı, özel bilgiler içerebileceği gibi gizlilik yükümlülüğü de taşıyor olabilir.
            <h3>Üçüncü Taraf Bağlantıları</h3>seninenflasyonunkac.com internet sitesi, üçüncü taraf internet sitelerine bağlantılar içerebilir. Üçüncü tarafların internet siteleri veya bunların içeriği seninenflasyonunkac.com'un kontrolü altında bulunmadığı gibi, seninenflasyonunkac.com bu internet sitelerinin veya içeriklerinin yasalara uygunluğu, doğruluğu, kullanılabilirliği, güncelliği veya eksiksizliği konuları ile ilgili kesinlikle sorumluluk üstlenmemektedir. seninenflasyonunkac.com, üçüncü taraf internet sitelerinden veya bunların içeriklerinden veya seninenflasyonunkac.com internet sitesine bağlantı veren veya resim karelerinde yer veren hiçbir internet sitesinden sorumlu değildir.
            <h3>Veri Gönderme Güvenliği</h3>İnternet, küresel bir ortamdır. seninenflasyonunkac.com'u kullandığınızda veya e-posta ya da iletişim formları üzerinden bizimle irtibat kurduğunuzda, seninenflasyonunkac.com'a göndermek istediğiniz tüm verilerin şifrelenmeden aktarılmasına onayınızı vermiş sayılırsınız. Bu kanallar üzerinden gönderilen tüm veriler gizli veya güvenilir değildir, kaybolabilir veya üçüncü taraflarca görüntülenebilir, yolu kesilebilir veya değiştirilebilir ve ülke sınırlarının ötesine geçebilir. İnternetin işleyiş yapısı ve içerisinde barındırdığı riskler gereği, tarafınızca yürütülen tüm veri aktarmaları kendi riskiniz altındadır.
            <h3>Gizlilik Politikası</h3>Kişisel verilerinizi seninenflasyonunkac.com ile paylaşmaya karar vermeniz durumunda, bu verilen şifrelenmeden aktarılmasına ve seninenflasyonunkac.com Gizlilik Politikası Hükümleri uyarınca seninenflasyonunkac.com tarafından saklanmasına ve kullanılmasına onay vermiş olursunuz. seninenflasyonunkac.com, işbu gizlilik politikası hükümlerini dilediği zaman değiştirebilir.
            <h3>Kişisel Verilerin Paylaşılması</h3>Toplanan verileri, herhangi bir üçüncü tarafa aktarmayacağız, satmayacağız veya paylaşmayacağız.
            <h3>Veriler Hangi Amaçlarla Kullanılmaktadır?</h3>seninenflasyonunkac.com, veri sahibi tarafından sunulan bilgileri sadece sitenin daha işlevsel ve etkili (akıllı) hale gelmesine yardımcı olacak şekilde kullanacaktır.
            <h3>Güvenlik Önlemleri</h3>Teknolojik gelişmeleri, uygulama maliyetlerini ve veri işlemenin doğasını, kapsamını ve amaçlarını ve ayrıca kişilerin hakları ve özgürlükleri bakımından ihtimallerin ve ciddiyetin değişme riskini göz önüne alarak, kişisel verilerin kazara ve illegal olarak imha edilmesini ve kaybolmasını önlemek için gereken çabayı göstermekteyiz. Kişisel verilerin uygun şekilde kullanılmasını sağlamak ve yetkisiz erişimlere, kullanıma veya ifşaya karşı korumak için çaba sarf etmekteyiz. Kişisel verilerin yetkisiz erişimlere, kullanımlara veya ifşalara karşı korunmasına yardımcı olmak için bir işleme, teknoloji ve fiziksel güvenlik kombinasyonu kullanmaktayız. Buna ek olarak kişisel verilere erişim, kendilerine atanmış görevleri yerine getirmek ve ürünlerimizi, hizmetlerimizi geliştirmek veya iyileştirmek için bu tür verileri bilmesi gereken çalışanlar/personel, yükleniciler ve temsilcilerle sınırlandırılır.
            <h3>Kişisel Veriler Ne Kadar Süre Saklı Tutulacak?</h3>Kişisel verileri sadece kişisel verilerin toplanma amacına ulaşmak için gerekli olduğu sürece işleyeceğiz ve saklı tutacağız.
            <h3>Çerez (“Cookie”) Kullanımı</h3>Veri Sahiplerinin bu siteden en verimli şekilde faydalanabilmesi ve kullanıcı deneyiminin geliştirilmesi için kullanılmaktadır. Çerez kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından çerezleri silebilir ya da engelleyebilirsiniz. Ancak Site kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz sürece bu sitede çerez kullanımını kabul ettiğinizi varsayacağız.
            <h3>Çerez Nedir ve Neden Kullanılmaktadır?</h3>Çerez, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır. Çerezler konusundan daha detaylı bilgi için [www.aboutcookies.org](https://www.aboutcookies.org/) ve [www.allaboutcookies.org](http://www.allaboutcookies.org/) adreslerini ziyaret edebilirisiniz.
          </div>
        </v-card>
      </v-dialog>
      <h3 class="footer-title">
        Bu sayfa bilgi amaçlıdır ve
        <a
          target="_blank"
          href="http://www.tuik.gov.tr/"
        >Türkiye İstatistik Kurumu</a>'nun (TÜİK) Bölgelere Göre Tüketici Fiyat Endeksi (TÜFE) verilerine göre hesaplanmıştır. Yuvarlamalardan dolayı hesaplamalarda ufak sapmalar olabilir. TÜİK tarafından açıklanan bölgesel fiyat endekslerine göre tam doğru kişisel enflasyonu hesaplayabilmek için enflasyon sepetinde bulunan 418 madde ile ilgili harcama detayları girilmelidir ancak bu çoğu kullanıcı için zordur. Bundan dolayı sayfanın hesaplaması ana harcama grupları bazında oluşturulmuştur ve hesaplama sonuçları tam olarak kişisel enflasyonu yansıtmayabilir.
        <p>
          İletişim:
          <a href="mailto:admin@seninenflasyonunkac.com">admin@seninenflasyonunkac.com</a>
        </p>
      </h3>
    </footer>
  </v-app>
</template>

<script>
import InflationTable from "./components/InflationTable";
import RandomChart from "./components/RandomChart";

export default {
  name: "App",
  components: {
    InflationTable,
    RandomChart
  },
  methods: {
    setLocalStore() {
      this.snackbar = false;
      localStorage.setItem("isRead", true);
    }
  },
  computed: {
    getRead() {
      let isRead = localStorage.getItem("isRead");
      if (isRead == "true") {
        return true;
      }
    }
  },
  data: () => ({
    snackbar: true,
    dialog: false,
    text: "Hello, I'm a snackbar"
  })
};
</script>

<style lang="scss">
.v-content {
  padding: 0 !important;
}
html * {
  font-family: "Nunito", sans-serif;
}
.footer-title {
  font-weight: 100;
  text-align: center;
  font-size: 1em !important;
  padding: 1em;
}
.v-snack__wrapper {
  max-width: 100% !important;
}
i {
  font-family: "Material Icons";
}
</style>
